@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #D9D9D9;
    /* padding: 10px 10px 10px 10px; - forma reduzida de adicionar padding*/
}
svg {
    width: 100%;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 53px;
    padding: 0;
    margin: 0;
}
nav ul a {
    text-decoration: none;
    color: #000;
    font-family: 'League Spartan';
    text-transform: uppercase;
    font-weight: bold;
}
.search svg {
    width: 20px;
    height: 20px;
}
.button-1 {
    background: #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    /* padding: 10px 50px; - maneira reduzida*/
}
.banner-imagem img {
    width: 100%;
    height: auto;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card {
    width: 100%;
    height: 100px;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
}
.card-1 {
    background: red;
}
.card-2 {
    background: purple;
}
.card-3 {
    background: pink;
}
.card p {
    font-family: 'Baloo 2';
    font-size: 30px;
    font-weight: 600;
    color: white;
}

img {
    width: 100%;
}

.projeto {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px 0; - forma reduzida */
}
h1 {
    padding-bottom: 35px;
    font-family: 'League Spartan';
    font-size: 36px;
    line-height: 40px;
}

.card-galeria {
    position: relative;
    height: 100%;
}
.card-galeria img {
    height: 100%;
}
.card-galeria p {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.button-1 {
    text-decoration: none;
    color: #000;
}
.campanha {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px 0; forma reduzida */
}
h2 {
    font-family: 'League Spartan';
    font-size: 36px;
    line-height: 40px;
}
.content-galeria {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.blog {
    padding-top: 50px;
    padding-bottom: 50px;
}
.parceiros {
    background: #CCCCCC;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px; forma reduzida */
}